.mainDocument--Head {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.app {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #222731;
}

.explorer--Explorer {
  width: 15rem;
  font-size: x-large;
  background-color: #21242b;
  height: 100vh;
}

.explorer--Head {
  text-align: center;
  color: #fff;
  background-color: #1c1e24;
  font-size: xx-large;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.app--CodeEditor {
  width: 55rem;
  height: 100%;
}
.app--LiveServer {
  height: 93.4vh;
  width: 45rem;
  border: 1px solid;
  margin-right: 1rem;
  margin-top: 0rem;
}

/* Only to remove top whitespace in app */
ul {
  margin-top: 0;
}

.CodeMirror {
  height: 94vh !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.liveServer--Head {
  text-align: center;
  color: #ffffff;
  background-color: #1c1e24;
  font-size: 2rem;
  padding: 0.5rem;
}

.listClass {
  padding-top: 1rem;
  font-size: x-large;
  background: none;
  border: none;
  cursor: pointer;
}

.listClass:hover {
  opacity: 70%;
}

.explorer--List {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

@media only screen and (min-width: 2560px) {
  .explorer--Explorer {
    width: 30rem;
  }
  .explorer--List {
    margin-left: 7rem;
    font-size: 2rem;
  }
  .explorer--Head {
    font-size: 2rem;
  }
  .app--CodeEditor {
    width: 70rem;
  }
  .app--LiveServer {
    width: 56rem;
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 1440px) {
  .explorer--Explorer {
    width: 25rem;
  }
  .explorer--List {
    margin-left: 2rem;
  }
  .app--CodeEditor {
    margin-left: 2rem;
    width: 80rem;
  }
  .app--LiveServer {
    margin-left: 2rem;
    margin-right: 0rem;
    width: 50rem;
  }
}

@media only screen and (max-width: 1521px) {
  .explorer--Head {
    font-size: 1.99rem;
  }
}
@media only screen and (max-width: 1515px) {
  .explorer--Head {
    font-size: 1.9rem;
  }
}
@media only screen and (max-width: 1455px) {
  .explorer--Head {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 1863px) {
  .app--LiveServer {
    margin-left: 2rem;
  }
  .app--CodeEditor {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 1540px) {
  .app--LiveServer {
    margin-left: 2rem;
  }
  .explorer--List {
    margin-left: -0.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .explorer--Explorer {
    width: 30rem;
  }
  .app--CodeEditor {
    width: 80rem;
    height: 100%;
  }
  .app--LiveServer {
    width: 70rem;
    margin-right: 0rem;
  }
  .explorer--List {
    font-size: 1.3rem;
    padding-right: 0.8rem;
    margin-left: -0.9rem;
  }
  .explorer--Head {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .explorer--Explorer {
    width: 40rem;
  }
  .explorer--Head {
    font-size: large;
  }
  .explorer--List {
    font-size: large;

    margin-left: -0.5rem;
  }
  .app--CodeEditor {
    width: 80rem;
    height: 100%;
  }
  .app--LiveServer {
    margin-right: 0rem;
    width: 80rem;
  }
}
